@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Inter font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: -apple-system, BlinkMacSystemFont, "Avenir", "Avenir Next", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

/* Remove default blue outline from all fields on focus */
input:focus, select:focus, textarea:focus {
  outline: none !important;
  box-shadow: none !important;
}

.contract-autocomplete-input::placeholder {
  color: #000 !important;
  opacity: 1;
}

/* Hide blue outline for all TipTap editors */
.tiptap:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* Style lists in TipTap editor */
.tiptap ul,
.tiptap ol {
  margin-left: 1.25rem;
  padding-left: 1.25rem;
}
.tiptap ul {
  list-style-type: disc;
}
.tiptap ol {
  list-style-type: decimal;
}
.tiptap li {
  margin-bottom: 0.25rem;
}
